.idea/
Thumbs.db
.DS_Store

app/cache/doctrine/cache/*
!app/cache/doctrine/cache/.gitkeep

app/cache/twig/*
!app/cache/twig/.gitkeep

app/logs/*
!app/logs/.gitkeep

vendor/

web/components/AdminLTE/
web/components/bootstrap/
web/uploads/

web/test.css
web/test.html