.idea/
Thumbs.db
.DS_Store

resources/cache/*
!resources/cache/.gitkeep

resources/logs/*
!resources/logs/.gitkeep

resources/config/mailer.php

vendor/

web/components/AdminLTE/
web/components/bootstrap/
web/uploads/

web/test.css
web/test.html