{% extends 'admin/layout.twig' %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">

        </div><!-- /.col -->
    </div><!-- /.row -->
{% endblock %}
