<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Administration Panel</title>
    {% include 'admin/includes/head.twig' with {'admin_tpl_skin': app.admin_tpl_skin } %}
</head>
<body class="{{app.admin_tpl_skin}} {{app.admin_tpl_layout}}">
    <div class="wrapper">
        <!-- Main Header -->
        {% include 'admin/includes/header.twig' %}

        <!-- Left side column. contains the logo and sidebar -->
        {% include 'admin/includes/leftSidebar.twig' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>{{page_title}}<small>{{page_desc}}</small></h1>
            </section>

            <!-- Main content -->
            <section class="content">
                <!-- Your Page Content Here -->
                {% block content %}
                {% endblock %}
            </section><!-- /.content -->
        </div><!-- /.content-wrapper -->

        <!-- Main Footer -->
        {% include 'admin/includes/footer.twig' %}
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->
    {% include 'admin/includes/scripts.twig' %}
</body>
</html>